*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --view-height : 100vh;
  --header-height : 6rem;
  --footer-height: 6rem;
  --primary-font: 'Sansita Swashed', sans-serif;
  --secondary-font: 'Space Grotesk', sans-serif;
}

/* theme */

#light {
  --primary-color: #232931;
  --secondary-color: #eeeeee;
  --hover-color: #4ecca3;
}

#dark {
  --primary-color: #eeeeee;
  --secondary-color: #000000;
  --hover-color: #7d98e3;
}

.app {
  background-color: var(--secondary-color);
  transition: background-color 150ms ease-in 50ms;
}

/* Header */

.header {
  color: var(--primary-color);
  position: relative;
  padding: 1rem;
  padding-right: 0rem;
}

.logo {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  padding: 0.5rem;
  color: var(--primary-color);
}

.logo-icon {
  color: var(--hover-color);
  font-size: 1.7rem;
}

nav {
  font-family: var(--primary-font);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav a,
nav button {
  text-decoration: none;
  border: none;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 0.5rem;
  cursor: pointer;
}

nav button {
  right: 0;
  background-color: var(--hover-color);
  font-size: 1.3rem;
  color: #ffffff;
  border-radius: 2rem 0rem 0rem 2rem;
}

/* Home & About */

.home,
.about {
  min-height: calc(var(--view-height) - (var(--header-height) + var(--footer-height)));
}

/* Home */

/* SearchBar */

.intro {
  margin: -1rem auto 3rem;
  color: var(--secondary-color);
}

.heading-intro {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.sub-heading {
  font-family: var(--secondary-font);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-top: 0.25rem;
}

form {
  border-radius: 1rem 10rem 10rem 1rem;
}

.search-bar {
  width: 100vw;
  height: 45vh;
  padding-top: 5rem;
}

.search-bar input {
  font-family: var(--secondary-font);
  outline: none !important;
  border-radius: 1rem 10rem 10rem 1rem;
  width: 50vw;
}

.search-btn {
  color: var(--primary-color);
  background-color: var(--secondary-color) !important;
  font-family: var(--primary-font);
  border-radius: 20%;
}

.active {
  color: var(--hover-color);
}

/* SortingMenu */

.sorting-menu {
  font-family: var(--secondary-font);
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  color: var(--primary-color);
}

.dropdown {
  background-color: rgb(212, 212, 212);
  width: fit-content;
  letter-spacing: 0.2rem;
  color: black;
}

/* RecipeList */

/* Loader */

.loader {
  margin: 3rem auto;
  border: 1rem solid var(--primary-color);
  border-radius: 50%;
  border-top: 1rem solid var(--hover-color);
  width: 6rem;
  height: 6rem;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* RecipeCard */

.error {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

.recipe-card {
  box-shadow: 1px 1px 10px 5px rgb(0, 0, 0, 0.1);
  background-color: #f1f3f8;
  color: black;
  width: 18rem;
}

.recipe-image {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.recipe-card a {
  text-decoration: none;
  font-family: var(--secondary-font);
}

.recipe-label {
  font-size: 1.1rem;
}

.recipe-cuisineType {
  font-family: var(--secondary-font);
  letter-spacing: 0.1rem;
}

.card-button {
  color: #232931;
  font-family: var(--secondary-font);
}

.card-button:hover {
  color: var(--hover-color);
}

.card-button:hover a {
  color: var(--hover-color);
}

/* Recipe-Pop-Up */

.recipe-pop-up {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.recipe-pop-up h2 {
  font-family: var(--primary-font);
  letter-spacing: 0.2rem;
}

.recipe-pop-up h3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 10rem;
  letter-spacing: 0.1rem;
  margin: 0.5rem 0rem;
  font-family: var(--secondary-font);
  color: var(--hover-color);
  font-size: 1.2rem;
}

.recipe-pop-up .group {
  margin: 1.5rem;
}

.recipe-pop-up p {
  font-family: var(--secondary-font);
  margin: 0.3rem;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  padding: 0.2rem 0.5rem;
}

.recipe-pop-up .mealType {
  display: flex;
}

.recipe-pop-up .mealType p {
  background-color: #000000;
  color: var(--hover-color);
  padding: 1rem;
  letter-spacing: 0.1rem;
}

.recipe-pop-up a {
  font-family: var(--secondary-font);
  color: var(--hover-color);
  text-decoration: none;
  background-color: #000000;
}

/* Pagination */

.list-and-pagination {
  width: 95vw;
  margin: 0px auto;
  height: auto;
  margin-bottom: 10rem;
}

.paginationBtns {
  color: #f1f3f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0px auto;
  font-size: 1.1rem;
  font-family: var(--primary-font);
  background-color: #232931;
}

.paginationBtns li {
  letter-spacing: 0.1rem;
  border: none;
}

.paginationBtns li a {
  cursor: pointer;
  display: block;
  padding: 0.75rem 1.2rem;
}

.paginationBtns li a:hover {
  background-color: #f1f3f8;
  color: black;
}

.paginationActive a {
  background-color: var(--hover-color);
  color: black;
}


/* About */

.about .heading {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.about .description {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

.FAQCard:hover {
  border: 2px solid var(--hover-color);
}

.question {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

.FAQCard p {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

.FAQCard button {
  color: var(--primary-color);
}

.FAQCard:hover .question-btn-div button {
  color: var(--hover-color);
}

/* Footer */

.footer {
  font-family: var(--secondary-font);
}

.footer p {
  color: white;
}

.footer p a {
  color: var(--hover-color);
  text-decoration: none;
}